<template>
  <form @submit.prevent="submit">
    <label for="username">Username:</label>
    <input v-model="form.username" type="text" id="username">

    <label for="password">Password:</label>
    <input v-model="form.password" type="password" id="password"/>

    <button type="submit">login</button>
  </form>

</template>

<script setup>

import {defineProps, reactive} from "vue";
import {Inertia} from "@inertiajs/inertia";

defineProps({
  error: String,
})

const form = reactive({
  username : null,
  password : null,
})

function submit(){
  Inertia.post("/login", form)
}

</script>

<script>
export default {
  name: "Login",
}
</script>

<style scoped>

</style>