<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script>
            window.route = function(name, params) {
                name = name.replace('.', '_')
                if (typeof(params) === 'number') {
                    params = { 'id': params }
                }
                return Routing.generate(name, params)
            }
        </script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}
        {{ inertia(page) }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
